* {
    margin: 0;
    -webkit-user-select: none;
}

html, body, .scence {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.a-bg-mask {
    background: url(../img/1-bg-mask.jpeg) no-repeat center center;
    background-size: cover;
}

.born .a-bg-mask {
    -webkit-animation: shade-out 2s ease-out 0s forwards;
}

.a-bg {
    background: url(../img/1-bg.jpeg) no-repeat center center;
    background-size: cover;
}

/*动画*/
@-webkit-keyframes shade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}