* {
    margin: 0;
    -webkit-user-select: none;
}

html, body, .scence {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;;
}

.a-bg-mask {
    background: url(../img/1-bg-mask.jpeg) no-repeat center center;
    background-size: cover;
}

.born .a-bg-mask {
    -webkit-animation: shade-out 2s ease-out 0s forwards;
}

.a-bg {
    background: url(../img/1-bg.jpeg) no-repeat center center;
    background-size: cover;
}

/*第二页*/
.b-bg-mask {
    background: url(../img/2-bg-mask.jpeg) no-repeat center center;
    background-size: cover;
}

.born .b-bg-mask {
    -webkit-animation: slide 4s ease-out 0s forwards;
}

.b-bg {
    background: url(../img/2-bg.jpeg) no-repeat center center;
    background-size: cover;
}

/*第三页*/
.c-bg {
    background: url(../img/3-bg.jpeg) no-repeat center center;
    background-size: cover;
}

.c-bg-mask {
    background: url(../img/3-bg-mask.jpeg) no-repeat center center;
    background-size: cover;
}

.born .c-bg-mask {
    -webkit-animation: shade-out 2s ease-out 4s forwards;
}

.door-up {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: url(../img/3-mask-2.jpeg) no-repeat left bottom;
    background-size: 100% auto;
}

.born .door-up {
    -webkit-animation: go-up 2s ease-out 1s forwards;
}

.door-down {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: url(../img/3-mask.jpeg) no-repeat left top;
    background-size: 100% auto;
}

.born .door-down {
    -webkit-animation: go-down 2s ease-out 1s forwards;
}

/*动画*/
@-webkit-keyframes shade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes slide {
    0% {
        left: 0;
    }
    50% {
        -webkit-transform: translate3d(-50%, 0, 0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes go-up {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
}

@-webkit-keyframes go-down {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
}